---
layout: default.ejs
---

<style>
    .collection-name-header {
        opacity: 0.3;
    }

    .collection-name-header > a {
        color: initial;
    }

    ul {
        padding-inline-start: 20px;
    }
</style>

<h2>
    <span class="collection-name-header">
        <a href="/#collection-<%= tags[0] %>"><%= getCollectionName(tags) %></a>
        /
    </span> <%= title %>
</h2>

<small class="muted">
    <%= formatDate(date) %>
</small>

<br>

<%- content %>

<br>
<br>

<div><a href="/">← Back to collections</a></div>